@font-face {
  font-family: 'Raleway Extra-Bold';
  src: url("Raleway-ExtraBold.eot");
  src: url("Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("Raleway-ExtraBold.woff2") format("woff2"), url("Raleway-ExtraBold.woff") format("woff"), url("Raleway-ExtraBold.ttf") format("truetype"), url("Raleway-ExtraBold.svg#Raleway-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Raleway Medium';
  src: url("Raleway-Medium.eot");
  src: url("Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("Raleway-Medium.woff2") format("woff2"), url("Raleway-Medium.woff") format("woff"), url("Raleway-Medium.ttf") format("truetype"), url("Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }
